.menu-nav {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #323031;
    align-items: center;
    padding-left: 3%;
    padding-right: 2%;
}

.spiced-menu {
    margin-left: 10px;
    font-family: 'Caveat Brush', cursive;
    font-size: 35px;
    color: #DB3A34;
}

.home {
    background-color: #FFC857 ;
    color: white;
    border-radius: 2px;
    height: 25px;
    padding: 3px 10px;
    text-decoration: none;
    margin: 5px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "r m";
    /* height: 85vh; */
    margin-top: 55px;
}

@media(max-width: 1100px) {
    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

.menu-recipe-display-wrapper {
    grid-area: r;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 85vh;
    padding-top: 20px;
}

.menu-template-wrapper {
    padding: 10px;
    height: 85vh;
    height: 85vh;
}

.dayofweek {
    border: 1px solid black;
}
