.recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 85px;
}

.recipe-display-wrapper {
    /* margin-top: 55px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes-nav-btn {
    background-color: #FFC857 ;
    color: white;
    border-radius: 2px;
    height: 25px;
    padding: 3px 10px;
    text-decoration: none;
    margin: auto 5px;
}

.recipes-nav-btn:hover {
    cursor: pointer;
}

.make-menu {
    background-color: #177E89;
}