.recipe-nav {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.recipe-nav-btn {
    margin: 5px;
}

.recipe-wrapper {
    width: 300px;
    height: 350px;
    margin: 15px;
    text-align: center;
}

.recipe-img {
    width: 300px;
    height: 300px;
}